# Ignore Python virtual environment
.venv/

# Ignore config file with credentials
#config.py

# Common Python ignores
__pycache__/
*.pyc
*.pyo
*.pyd
*.pdb
*.log
*.sqlite3
*.db

# IDE/editor files
.vscode/
.idea/